// -------------------------------------------
$lt-texto: 'Crimson Pro',
serif;
$lt-titulo: 'Encode Sans',
sans-serif;
$lt-parrafo: 'Rosario',
sans-serif;
// -------------------------------------------
$celeste:rgb(0, 155, 175);
$amarillo:rgb(251, 255, 0);
$rojo: #da211c;
// -------------------------------------------
$size-titulo: 35px;